<!--<div class="jumbotron text-center">-->
    <!--<h1>Hall of fame</h1>-->

    <!--<button ng-click="setTheScore()">test value</button>-->
    <!--controller: {{testStrokeModel}}-->
<!--</div>-->


Scope i controller 1 <input id="strokemodel1" ng-model="testStrokeModel1">

<golf-slider id="test1" par="4" slidertype="stroke"   slidermodel="testStrokeModel1"> <!--sts="setTheScore(databack)"-->
</golf-slider>


Scope i controller 2 <input id="strokemodel2" ng-model="testStrokeModel2">
<golf-slider id="test2"  par="3" slidertype="stroke" slidermodel="testStrokeModel2"> <!--sts="setTheScore(databack)"-->
</golf-slider>



