<div class="jumbotron">
    <h1>Profile</h1>
    <section>

    </section>
    <aside>
        <ul>
            <li>User Name: {{currentUser.username}}</li>
            <li>Password (should be empty): {{currentUser.password}} </li>
            <li>ID: {{currentUser._id}}</li>
            <li>First Name: </li>
            <li>LaSt name: </li>
            <li>email: </li>
            <li>Hcp: </li>
        </ul>
    </aside>

    <div ng-repeat="score in scores">
        Round: {{$index + 1}}
        <div ng-repeat="hole in score.hole_score">
            Strokes in hole number {{$index+1}} : {{hole.strokes}}
        </div>
    </div>
    <div>
        <a href="/editprofile">edit</a>
    </div>


</div>