<div id="register-score">
    <div class="scorecard-wrapper">
        <!-- Heading section -->
        <div class="info">
            <div class="scorecard hole">
                Hole
            </div>
            <div class="scorecard distance">
                Length
            </div>
            <div class="scorecard par">
                Par
            </div>
            <div class="scorecard index">
                Index
            </div>
        </div>
        <div class="players">
            <div class="scorecard player-heading">
                {{ currentUser.name.first || "Player 1" }}
            </div>
            <div class="scorecard player-heading">
               {{curentRound.players.player2.name || "Player 2"}}
            </div>
            <div class="scorecard player-heading">
                {{curentRound.players.player3.name || "Player 3"}}
            </div>
            <div class="scorecard player-heading">
                {{curentRound.players.player4.name || "Player 2"}}
            </div>

        </div>
    </div>
    <!-- End Heading section -->
    <!-- Repeated section -->
    <!-- Scorecard closed score section -->
    <div ng-repeat="hole_score in currentRound.player1">

        <div class="scorecard-wrapper">
            <div class="info">
                <div class="scorecard hole not-heading">
                    {{ currentRound.selectedCourse.holes[$index].number }}
                </div>
                <div class="scorecard distance not-heading">
                    {{ currentRound.selectedCourse.holes[$index].length }}
                </div>
                <div class="scorecard par not-heading">
                    {{ currentRound.selectedCourse.holes[$index].par }}
                </div>
                <div class="scorecard index not-heading">
                    {{ currentRound.selectedCourse.holes[$index].index }}
                </div>
            </div>
            <div class="players">
                <div class="scorecard player" ng-click="toggleHoleScoreVisibility($index)">
                    <div class="icon">
                        <span class="glyphicon glyphicon-pencil" ng-hide="currentRound.player1[$index].scoreSet" class="player1-button"></span>
                    </div>
                    <div class="icon">
                        <div ng-show="currentRound.player1[$index].scoreSet" class="player1-button">
                            {{currentRound.player1[$index].score.strokes}}
                        </div>
                    </div>
                </div>
                <div class="scorecard flight-player" ng-click="currentRound.players.player2.data[$index].collapse=!currentRound.players.player2.data[$index].collapse">
                    <div class="icon">
                        <span class="glyphicon glyphicon-pencil" ng-hide="currentRound.players.player2.data[$index].scoreSet" class="player1-button"></span>
                    </div>
                    <div class="icon">
                        <div ng-show="currentRound.players.player2.data[$index].scoreSet">
                            {{currentRound.players.player2.data[$index].score.strokes}}
                        </div>
                    </div>
                </div>
                <div class="scorecard flight-player" ng-click="currentRound.players.player3.data[$index].collapse=!currentRound.players.player3.data[$index].collapse">
                    <div class="icon">
                        <span class="glyphicon glyphicon-pencil" ng-hide="currentRound.players.player3.data[$index].scoreSet" class="player1-button"></span>
                    </div>
                    <div class="icon">
                        <div ng-show="currentRound.players.player3.data[$index].scoreSet">
                            {{currentRound.players.player3.data[$index].score.strokes}}
                        </div>
                    </div>
                </div>
                <div class="scorecard flight-player" ng-click="currentRound.players.player4.data[$index].collapse=!currentRound.players.player4.data[$index].collapse">
                    <div class="icon">
                        <span class="glyphicon glyphicon-pencil" ng-hide="currentRound.players.player4.data[$index].scoreSet" class="player1-button"></span>
                    </div>
                    <div class="icon">
                        <div ng-show="currentRound.players.player4.data[$index].scoreSet">
                            {{currentRound.players.player4.data[$index].score.strokes}}
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <!--End Scorecard closed score section -->

        <!-- Scorecard Set Score for Player slider - section -->
        <div class="scorecard sliders" collapse="currentRound.player1[$index].collapse">
            <div class="slider-wrapper">
                <div class="slider-text">
                    Strokes
                </div>
                <div class="slider-slide">
                    <input ng-model="currentRound.player1[$index].score.strokes" type="text" id="strokeslider-{{ currentRound.selectedCourse.holes[$index].number }}" slider options="currentRound.player1[$index].strokeSliderOptions" />
                </div>
                <div class="slider-value">
                    {{currentRound.player1[$index].score.strokes}}
                </div>
            </div>
            <div class="slider-wrapper">
                <div class="slider-text">
                    Puts
                </div>
                <div class="slider-slide">
                    <input ng-model="currentRound.player1[$index].score.puts" type="text" id="putslider-{{ currentRound.selectedCourse.holes[$index].number }}" slider options="currentRound.player1[$index].putSliderOptions" />
                </div>
                <div class="slider-value">
                    {{currentRound.player1[$index].score.puts}}
                </div>
            </div>
            <div class="slider-wrapper">
                <div class="slider-text">
                    Chips
                </div>
                <div class="slider-slide">
                    <input ng-model="currentRound.player1[$index].score.chips" type="text" id="chipslider-{{ currentRound.selectedCourse.holes[$index].number }}" slider options="currentRound.player1[$index].restSliderOptions" />
                </div>
                <div class="slider-value">
                    {{currentRound.player1[$index].score.chips}}
                </div>
            </div>
            <div class="slider-wrapper">
                <div class="slider-text">
                    Sand
                </div>
                <div class="slider-slide">
                    <input ng-model="currentRound.player1[$index].score.sand" type="text" id="sandslider--{{ currentRound.selectedCourse.holes[$index].number }}" slider options="currentRound.player1[$index].restSliderOptions" />
                </div>
                <div class="slider-value">
                    {{currentRound.player1[$index].score.sand}}
                </div>
            </div>
            <div class="slider-wrapper">
                <div class="slider-text">
                    Water
                </div>
                <div class="slider-slide">
                    <input ng-model="currentRound.player1[$index].score.water" type="text" id="waterslider--{{ currentRound.selectedCourse.holes[$index].number }}" slider options="currentRound.player1[$index].restSliderOptions" />
                </div>
                <div class="slider-value">
                    {{currentRound.player1[$index].score.water}}
                </div>
            </div>
            <div class="slider-wrapper">
                <div class="slider-text">
                    OB
                </div>
                <div class="slider-slide">
                    <input ng-model="currentRound.player1[$index].score.ob" type="text" id="OB-{{ currentRound.selectedCourse.holes[$index].number }}" slider options="currentRound.player1[$index].restSliderOptions" />
                </div>
                <div class="slider-value">
                    {{currentRound.player1[$index].score.ob}}
                </div>
            </div>
            <button type="button" class="slider-button btn btn-info btn-xs" ng-click="calculateScoreHole($index)">Set score</button>
        </div>
        <!-- End Scorecard Set Score for Player slider - section -->

        <!-- Set Score Other Players section -->
        <!-- Player 2 scores -->
        <div class="scorecard sliders" collapse="currentRound.players.player2.data[$index].collapse">
            <div class="slider-wrapper">
                <div class="slider-text">
                    Strokes Player 2
                </div>
                <div class="slider-slide">
                    <input ng-model="currentRound.players.player2.data[$index].score.strokes" type="text" id="strokeslider-{{ currentRound.selectedCourse.holes[$index].number }}-player2" slider options="currentRound.player1[$index].strokeSliderOptions" />
                </div>
                <div class="slider-value">
                    {{currentRound.players.player2.data[$index].score.strokes}}
                </div>
            </div>
            <button type="button" class="slider-button btn btn-info btn-xs" ng-click="calculateScorePlayer($index,currentRound.players.player2)">Set score</button>

        </div>
        <!-- End Player 2 scores -->

        <!-- Player 3 scores -->
        <div class="scorecard sliders" collapse="currentRound.players.player3.data[$index].collapse">
            <div class="slider-wrapper">
                <div class="slider-text">
                    Strokes Player 3
                </div>
                <div class="slider-slide">
                    <input ng-model="currentRound.players.player3.data[$index].score.strokes" type="text" id="strokeslider-{{ currentRound.selectedCourse.holes[$index].number }}-player3" slider options="currentRound.player1[$index].strokeSliderOptions" />
                </div>
                <div class="slider-value">
                    {{currentRound.players.player3.data[$index].score.strokes}}
                </div>
            </div>
            <button type="button" class="slider-button btn btn-info btn-xs" ng-click="calculateScorePlayer($index,currentRound.players.player3)">Set score</button>

        </div>
        <!-- End Player 3 scores -->

        <!-- Player 4 scores -->
        <div class="scorecard sliders" collapse="currentRound.players.player4.data[$index].collapse">
            <div class="slider-wrapper">
                <div class="slider-text">
                    Strokes Player 4
                </div>
                <div class="slider-slide">
                    <input ng-model="currentRound.players.player4.data[$index].score.strokes" type="text" id="strokeslider-{{ currentRound.selectedCourse.holes[$index].number }}-player4" slider options="currentRound.player1[$index].strokeSliderOptions" />
                </div>
                <div class="slider-value">
                    {{currentRound.players.player4.data[$index].score.strokes}}
                </div>
            </div>
            <button type="button" class="slider-button btn btn-info btn-xs" ng-click="calculateScorePlayer($index,currentRound.players.player4)">Set score</button>

        </div>
        <!-- End Player 4 scores -->
        <!-- End Set Score Other Players section -->
    </div>
    <!-- End Repeated section -->
</div>

