<!--
<div ng-show="showAlert()" class="alert alert-danger">
  <button type="button" class= "close" data-dismiss="alert" ng-click="clearAlert()">&times;</button>
  {{message}}
</div>-->

<form role="form" ng-submit="signupUser()">
    <div class="">
      <div class="">
        <input type="text" ng-model="formData.username" placeholder="Enter your username" class="">
        <input type="password" ng-model="formData.password" placeholder="enter a password" class="">
        <span class="">
          <input type="submit" class="" value="Create User">
        </span>
      </div>
    </div>
</form>
