<div class="jumbotron text-center">
	<h1>Users</h1>

	<p>{{ tagline }}</p>
	<p ng-repeat = "user in users">
		{{ user.userName }} <button  type="submit" class="btn btn-danger" ng-click="deleteUser(user._id)">X</button>
	</form>
	</p>


	<form role="form" ng-submit="createUser()">
    <div class="row">
      <div class="input-group">
        <input type="text" ng-model="formData.userName" placeholder="Add a new User" class="form-control">
        <span class="input-group-btn">
          <input type="submit" class="btn btn-primary" value="Add">
        </span>
      </div>
    </div>
  </form>
  <p></p>
</div>
