

.slider-wrapper {
    /*width: 100%;*/
    border: 2px dashed #ffff00;

    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: -webkit-flex;     /* NEW - Chrome */
    display: flex;

}

golf-slider{
    border:  2px orange solid;

    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: -webkit-flex;     /* NEW - Chrome */
    display: flex;

    -webkit-flex: 1;          /* Chrome */
    -ms-flex: 1;              /* IE 10 */
    flex: 1;


}


.slider-vertical-wrapper {

    -ms-flex: 1;              /* IE 10 */
    -webkit-flex: 1;          /* Chrome */
    flex: 1;

    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: -webkit-flex;     /* NEW - Chrome */
    display: flex;

    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;

    border: grey 3px dotted;

}

.slider-heading {

    -ms-flex: 1;              /* IE 10 */
    -webkit-flex: 1;          /* Chrome */
    flex: 1;
    /*flex:1;*/
    /*width: 80%;*/
    /*text-align: center;*/
    border: cyan dotted 2px;
    align-self: center;
    color: #28801e;
    padding: 0px;
    margin: 0px;
}
.slida-input {

    -ms-flex: 1;              /* IE 10 */
    -webkit-flex: 1;          /* Chrome */
    flex: 1;
    /*text-align: center;*/
    /*width: 80%;*/
    border-radius: 10px;
    margin-bottom: 4px;
    border: 1px solid blueviolet;
}

.slider-inside-div {

    height: 15em ;

    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: -webkit-flex;     /* NEW - Chrome */
    display: flex;

    -webkit-align-self: center; /*Denne fikser venstre/høyre alignment for iphone*/
    align-self: center;

    -webkit-align-items: center; /*Denne fikser opp/ned alignment av slider inne i div*/
    align-items: center;




    border: red solid 1px;


}

.slida {
    height: 90%;
    border: 1px green solid;

}

.slider-button {
    width:100%;
    padding-top: 5px;
    margin-top: 2px;
}

.noUi-connect {
    background-color: #829fbb;
}

.slider-horizontal {

    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -webkit-align-items: center; /*VIKTIG for opp ned alignment på row basert flexbox!!*/
    align-items: center;

    -webkit-justify-content: center;
    justify-content: center;

    margin: 5px;
}

.slider-heading-horizontal {
    /*flex: 1;*/
    /*width: 20%;*/
    -ms-flex: 1;
    -webkit-flex: 1;
    flex: 1;

    color: #808080;

    -webkit-align-items: center; /*VIKTIG for opp ned alignment på row basert flexbox!!*/
    align-items: center;

    -webkit-justify-content: center;
    justify-content: center;
}

.slida-input-horizontal-wrapper {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;


    -webkit-align-items: center; /*VIKTIG for opp ned alignment på row basert flexbox!!*/
    align-items: center;

    -webkit-justify-content: center;
    justify-content: center;



    /*width: 20%;*/
    -ms-flex: 1;
    -webkit-flex: 1;
    flex: 1;




}

.slida-input-horizontal {
    /*flex: 1;*/
    width: 80%;
    border-radius: 10px;

    -webkit-align-items: center; /*VIKTIG for opp ned alignment på row basert flexbox!!*/
    align-items: center;

    -webkit-justify-content: center;
    justify-content: center;

    /*align-items: center;*/

}

.slida-slide-horizontal-wrapper {

    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;


    -webkit-align-items: center; /*VIKTIG for opp ned alignment på row basert flexbox!!*/
    align-items: center;

    -webkit-justify-content: center;
    justify-content: center;

    /*align-content: center;*/
    /*width: 60%;*/
    -ms-flex: 3;
    -webkit-flex: 3;
    flex: 3;
    border: grey 1px dotted;

}
.slida-horizontal {
 width: 90%;
}
