

.slider-wrapper {
    /*width: 100%;*/
    border: 2px dashed #ffff00;
    display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: -webkit-flex;     /* NEW - Chrome */
    display: flex;

}

golf-slider{
    border:  2px orange solid;
    display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: -webkit-flex;     /* NEW - Chrome */
    display: flex;

    -webkit-box-flex: 1;      /* OLD - iOS 6-, Safari 3.1-6 */
    -moz-box-flex: 1;         /* OLD - Firefox 19- */
    width: 16.66667%;               /* For old syntax, otherwise collapses. */
    -webkit-flex: 1;          /* Chrome */
    -ms-flex: 1;              /* IE 10 */
    flex: 1;
    /*width: 16.66667%;*/


}


.slider-vertical-wrapper {
    -webkit-box-flex: 1;      /* OLD - iOS 6-, Safari 3.1-6 */
    -moz-box-flex: 1;         /* OLD - Firefox 19- */
    /*width: 16.66667%;               *//* For old syntax, otherwise collapses. */
    -webkit-flex: 1;          /* Chrome */
    -ms-flex: 1;              /* IE 10 */
    flex: 1;
    /*width: 16.66667%;*/

    display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: -webkit-flex;     /* NEW - Chrome */
    display: flex;

    /*-webkit-box-align: center;*/
    /*-moz-box-align: center;*/
    /*box-align: center;*/

    /*-webkit-box-pack: center;*/
    /*-moz-box-pack: center;*/
    /*box-pack: center;*/
    /*align-items: center;*/
    /*justify-content: center;*/
    /*align-content: center;*/
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
    /*width: 100%;*/
    /*height: 100%;*/
    border: grey 3px dotted;
    /*border-collapse: collapse;*/

    /*background-color: #c5c5c5;*/

}

.slider-heading {
    -webkit-box-flex: 1;      /* OLD - iOS 6-, Safari 3.1-6 */
    -moz-box-flex: 1;         /* OLD - Firefox 19- */
    /*width: 16.66667%;               *//* For old syntax, otherwise collapses. */
    -webkit-flex: 1;          /* Chrome */
    -ms-flex: 1;              /* IE 10 */
    flex: 1;
    /*flex:1;*/
    /*width: 80%;*/
    /*text-align: center;*/
    border: cyan dotted 2px;
    align-self: center;
    color: #28801e;
    padding: 0px;
    margin: 0px;
}
.slida-input {
    -webkit-box-flex: 1;      /* OLD - iOS 6-, Safari 3.1-6 */
    -moz-box-flex: 1;         /* OLD - Firefox 19- */
    /*width: 16.66667%;               *//* For old syntax, otherwise collapses. */
    -webkit-flex: 1;          /* Chrome */
    -ms-flex: 1;              /* IE 10 */
    flex: 1;
    /*text-align: center;*/
    /*width: 80%;*/
    border-radius: 10px;
    margin-bottom: 4px;
    border: 1px solid blueviolet;
}

.slider-inside-div {
    /*-webkit-box-flex: 1;      *//* OLD - iOS 6-, Safari 3.1-6 */
    /*-moz-box-flex: 1;         *//* OLD - Firefox 19- */
    /*width: 16.66667%;               *//**//* For old syntax, otherwise collapses. */
    /*-webkit-flex: 1;          *//* Chrome */
    /*-ms-flex: 1;              *//* IE 10 */
    /*flex: 1;*/

    height: 15em ;
    display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: -webkit-flex;     /* NEW - Chrome */
    display: flex;

    align-self: center;


    /*width: 80%;*/
    /*-webkit-justify-content: center hjalp ikke*/
    /*justify-content: center;*/
    -webkit-align-items: center;
    align-items: center;

    -webkit-align-content: center;
    align-content: center;


    border: red solid 1px;


    /*flex: 4;*/
}

.slida {
    height: 90%;
    border: 1px green solid;

}

.slider-button {
    width:100%;
    padding-top: 5px;
    margin-top: 2px;
}

.noUi-connect {
    background-color: #829fbb;
}

.slider-horizontal {
    display: flex;
    /*border: 1px red solid;*/
    /*justify-content: center;*/
    align-items: center;
    display: -webkit-flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    margin: 5px;
}

.slider-heading-horizontal {
    /*flex: 1;*/
    color: #808080;

    width: 20%;
}

.slida-input-horizontal-wrapper {
    /*flex: 1;*/
    width: 20%;
    justify-content: center;
    align-items: center;
    align-self: center;
    /*border: 1px blue dotted;*/
    display: flex



}

.slida-input-horizontal {
    /*flex: 1;*/
    width: 80%;
    border-radius: 10px;

    /*align-items: center;*/

}

.slida-slide-horizontal-wrapper {
    /*flex: 4;*/
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    width: 60%;
    border: grey 1px dotted;
}
.slida-horizontal {
    width: 90%;
    align-items: center;
    align-content: center;
    align-self: center;
}
