body {
    font-family: RobotoDraft, sans-serif;
    color: #444;
    background-color: #eee !important;
}
.hidden {
    display: none;
}

/*.animate-show.ng-hide-add, .animate-show.ng-hide-remove {*/
    /*-webkit-transition:all linear 0.5s;*/
    /*-moz-transition:all linear 0.5s;*/
    /*-o-transition:all linear 0.5s;*/
    /*transition:all linear 0.5s;*/
    /*display:block!important;*/
/*}*/

/*core-header-panel {*/
    /*background-color: #eee;*/
    /*overflow: auto;*/
    /*-webkit-overflow-scrolling: touch;*/
/*}*/
/*core-toolbar {*/
    /*background-color: #1f2036;*/
    /*color: white;*/
/*}*/
#navheader {
    /*background-color: #56BA89;*/
    margin-bottom: 0px;
}
.content {
    padding: 5px;
}
/*.nav .navbar .navbar-defualt {*/
    /*margin-bottom: 0px;*/
/*}*/

li {
    list-style: none;
}

/*paper-button.colored {*/
    /*color: #4285f4;*/
    /*fill: #4285f4;*/
/*}*/
/*paper-button[raisedButton].colored {*/
    /*background: #4285f4;*/
    /*color: #fff;*/
/*}*/

#register-score {
    margin: 0;
    border-collapse: collapse;
    padding: 0;
    color: #333;
    text-align: center;
}

#register-score div {
    background-color: white;
    color: #555;
    font-size: 13px;
}

#register-score .scorecard {
    /*padding: 4px 2px;*/
    /*border: 1px solid #ffffff;*/
    /*border-radius: 3px;*/
    font-size: 10px;
    text-align: center;
    border-collapse: collapse;
}
#register-score .hole {
    background-color: #259b24;
    color: #ffffff;
    border-bottom: 1px solid #298727;
    width: 25%;
}


#register-score .distance{
    background-color: #3f51b5;
    border-bottom: 1px solid #2C3B80;
    color: #ffffff;
    width: 30%;
}

#register-score .par {
    background-color: #ff5722;
    border-bottom: 1px solid #C94F21;
    color: #ffffff;
    width: 20%;
}

#register-score .index{
    background-color: #e91e63;
    border-bottom: 1px solid #B8184E;
    color: #ffffff;
    width: 25%;
}

.not-heading {
    padding-top: 4px;
}

.scorecard-wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    display: -webkit-flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
}

.players {
    width: 60%;
    display: flex;
    align-items: center;
    display: -webkit-flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
}

.info {
    width: 40%;
    display: flex;
    align-items: center;
    display: -webkit-flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
}

#register-score .player-heading {
    width: 25%;
    background-color: grey;
    color: white;
}

#register-score .player {
    width: 25%;
    background-color: #f9f9f9;
    color: white;
    padding-top: 4px;
    border-right: 1px solid #999;
    border-bottom: 1px solid #999;
}

#register-score .flight-player {
    color: #999 !important;
    background-color: #f9f9f9;
    padding-top: 4px;
    border-right: 1px solid #999;
    border-bottom: 1px solid #999;
    width: 25%;
}


#register-score .player .icon {
    background-color: #f9f9f9;
}

#register-score .flight-player .icon {
    background-color: #f9f9f9;
    color: #999 !important;


}

/*#register-score .player-score {*/
    /*border-radius: 2px;*/
    /*border: 1px solid #999*/
    /*width: 100%;*/
/*}*/

/*.slider-wrapper {*/
    /*width: 100%;*/
    /*display: flex;*/
    /*align-items: center;*/
    /*display: -webkit-flex;*/
    /*display: -webkit-box;*/
    /*display: -moz-box;*/
    /*display: -ms-flexbox;*/
/*}*/


#register-score .sliders {
    border-bottom: #999 solid 1px;
    border-left: #999 solid 1px;
    border-right: #999 solid 1px;
    border-radius: 5px;
    padding-bottom: 5px;

}

#register-score .sliders .slider-wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    display: -webkit-flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    padding-top: 15px;
    padding-bottom: 5px;
    border-bottom: 1px dashed #999;
}


.slider-text {
    text-align: left;
    width: 20%
}

.slider-slide {
    width:60%;
    flex: 3;
}

.slider-value {
    width: 20%;
    flex: 1;
}

.slider-button {
    width:60%;
    padding-top: 0px;
    margin: 0px;
}

.test {
    height: 300px;
}



/*----------- Animations ---------------*/

/* ---------- Animation for ng-repeat for scorecard ----------*/
.animate-repeat.ng-move,
.animate-repeat.ng-enter,
.animate-repeat.ng-leave {
    -webkit-transition:all linear 0.5s;
    transition:all linear 0.5s;
}

.animate-repeat.ng-leave.ng-leave-active,
.animate-repeat.ng-move,
.animate-repeat.ng-enter {
    opacity:0;
    max-height:0;
}

.animate-repeat.ng-leave,
.animate-repeat.ng-move.ng-move-active,
.animate-repeat.ng-enter.ng-enter-active {
    opacity:1;
    max-height:40px;
}

/* ----- Animation for main page how the pages load ------*/
.main-animation-container {
    position:relative;
}

.main-animation.ng-enter, .main-animation.ng-leave {
    -webkit-transition:0.5s linear all;
    transition:0.5s linear all;

    position:absolute;
    top:0;
    left:0;
    right:0;
    height:600px;
}

.main-animation.ng-enter {
    z-index:100;
    top:600px;
    left: 5px; /*Må være samme som content padding*/
    opacity:0;
}
.main-animation.ng-enter.ng-enter-active {
    top:0;
    opacity:1;
    left: 5px; /*Må være samme som content padding*/
    top: 5px; /*Må være samme som content padding*/
}
.main-animation.ng-leave {
    z-index:101;
    top:0;
    opacity:1;
    left: 5px; /*Må være samme som content padding*/
    top: 5px; /*Må være samme som content padding*/
}
.main-animation.ng-leave.ng-leave-active {
    top:-600px;
    opacity:0;
    left: 5px; /*Må være samme som content padding*/
}

/* ----- End Animation for main page how the pages load ------*/
