body {
    font-family: RobotoDraft, sans-serif;
    color: #444;
    background-color: #eee !important;
}
.hidden {
    display: none;
}

core-header-panel {
    background-color: #eee;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}
core-toolbar {
    background-color: #1f2036;
    color: white;
}
#navheader {
    background-color: #56BA89;
}
.content {
    padding: 20px;
}
/* drawer is always visible on a wide screen
   so menu button isn't required */

core-drawer-panel:not([narrow]) #navicon {
    display: none;
}
li {
    list-style: none;
}

paper-button.colored {
    color: #4285f4;
    fill: #4285f4;
}
paper-button[raisedButton].colored {
    background: #4285f4;
    color: #fff;
}

#register-score {
    margin: 0;
    border-collapse: collapse;
    padding: 0;
    color: #333;
    text-align: center;
    left: 10px;
    top: 70px;
    position: absolute;

    transition: all .4s ease-in-out;

}

#register-score.right {
    left: 900px;
    top: 70px;
    position: absolute;
}


#register-score td {
    background-color: white;
    color: #555;
    font-size: 13px;
}
.flight-player {
    color: #999 !important;
}
.score-sliders td {
    padding: 2px 2px 2px 7px;
}
.score-sliders {
    padding: 10px 0;
    border: 0;
}
#register-score .scorecard {
    padding: 4px 2px;
    border: 1px solid #999;
    font-size: 10px;
    text-align: center;
}
#register-score .hole {
    background-color: #259b24;
    color: #ffffff;
}
#register-score .distance {
    background-color: #3f51b5;
    color: #ffffff;
}
#register-score .par {
    background-color: #ff5722;
    color: #ffffff;
}
#register-score .index {
    background-color: #e91e63;
    color: #ffffff;
}
#register-score .player {

}
