<div style="min-height: 200px; border: solid red 1px; display:flex; display: -webkit-flex; flex-direction: column; ">
    <!-- Heading -->

    <div style=" width: 10%">
        {{slidertype}}
    </div>

    <!-- Input -->
    <div>
        <input class="input-sm slida-input" ng-model="slidermodel" style=" width: 10%">
    </div>

    <!-- Slider -->
    <div style=" flex: 5; border: red solid 1px; min-height: 100px; height: 250px">
        <div class="slida" style="min-height: 100px">
        </div>
    </div>
</div>