<div style="min-height: 200px; border: solid red 1px; display:flex; display: -webkit-flex; flex-direction: column; ">
    <!-- Heading -->

    <h3 class="" style=" width: 10%">
        {{slidertype}}
    </h3>

    <!-- Input -->
    <div style="width: 30px">
        <input class="input-sm slida-input" ng-model="slidermodel" style=" width: 100%">
    </div>

    <!-- Slider -->
    <div style="  border: red solid 1px; height: 100px;" style=" width: 30px; align-self: flex-end">
        <div class="slida" style=" height: 100%;"></div>
    </div>
</div>